
.section-home .content {z-index:3}
.section-home .MobilePhone {z-index:2}
.section-home .SeocourtHeadline {z-index:1}
.section-home .arrows {z-index: 4; position: absolute; width: 35px; height: 40px; bottom: 40px; left: 0; right: 0; margin-left: auto; margin-right: auto;}

.section-home .section-content {
    padding: 10% 5% 0 5%;
    width:100%;
    height:100%;
    color:#ffffff;

background: #120943; /* Old browsers */
background: -moz-linear-gradient(left, #120943 0%, #291e6f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #120943 0%,#291e6f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #120943 0%,#291e6f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#120943', endColorstr='#291e6f',GradientType=1 ); /* IE6-9 */

    display: flex;
}

.section-home .content {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:relative;
}
.section-home .content > div {
    height: 50%;
    width: 100%;
}

.section-home .content > div:nth-child(1) {
    height: 40%;
    color:#ffffff;
    display: flex;
    align-items: flex-end;

}
.section-home .content .headline{color:#ffffff; font-family: "Montserrat"; font-weight:600; font-size:4.5rem; line-height:1em;}

.section-home .content > div.content-bottom {
    height: 60%;
}

.section-home .content > div.content-bottom  {}
.section-home .content > div.content-bottom  .content-bottom-inner {
    height: 100%;
    max-width:450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;

}
.section-home .content > div.content-bottom  .content-bottom-inner .txt { width:100%; line-height: 35px; padding-top: 30px;}
.section-home .content > div.content-bottom  .content-bottom-inner .socourt-link{color: #d1da29;  width:100%; font-weight: 500; font-size:0.8rem; letter-spacing: 1px;  position:relative; display: flex; }
.section-home .content > div.content-bottom  .content-bottom-inner .socourt-logo { 
    display: flex; align-items: flex-end; padding-bottom:60px; width:100%;
}


.section-home .SeocourtHeadline {
    position:absolute; top:12.5%; left:5%; width:60%; height:40% ;
    display:flex;
    align-items: flex-end;
   
}
.section-home .SeocourtHeadline .SeocourtHeadlineBg > img { 
    
    /* font-size:200px; line-height:200px; font-weight:600; color:rgba(255,255,255,0.16);  */
    /* border:1px solid lime; */
    position: relative;
    width:100%;
    height:auto;
    display: block;
}
.section-home .MobilePhone {
    position: absolute; bottom: 0; right: 0; width: 49%; height: 63% ; 
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-size:cover;
    background-image:url("/static/media/phone.c312293c.png");
}